%h2 
  Edit 
  = resource_name.to_s.humanize 

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| 
  = devise_error_messages! 

  = f.label :username, autofocus: true
  = f.text_field :username

  = f.label :name
  = f.text_field :name

  = f.label :email 
  = f.email_field :email 

  %p
    = f.label 'Commission Rate'
    <i>from 0 to 1, like 0.25 for 25% </i>
    = f.text_field :commission_rate

  %p
    = f.label 'Weekly Goal'
    <i>Commission increases if you exceed this number</i>
    = f.text_field :goal

  %p
    = f.label 'Alternate Commission Rate'
    <i>The commission rate if you meet your weekly goal</i>
    = f.text_field :high_commission

  = f.label :password  
  <i>(leave blank if you do not want to change it)</i>
  = f.password_field :password, :autocomplete => "off" 

  = f.label :password_confirmation 
  = f.password_field :password_confirmation 

  = f.label :current_password  
  <i>(we need your current password to confirm your changes)</i>
  = f.password_field :current_password 

  = f.submit "Update" 

%h3 Cancel my account

%p 
  Unhappy? 
  = link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete

= link_to "Back", :back 
