%h1 Tips and Commissions Tracker

%h3 Treatments
%p= link_to 'Treatments List', treatments_path
%p= link_to 'Add a new treatment', new_treatment_path

%h3 Reports
%p= link_to 'Reports List', reports_path

%h3 Manage your Lists
%p= link_to 'Companies', companies_path
%p= link_to 'Services', services_path
%p= link_to 'Customers', customers_path

%h3 Account Management
%p= link_to 'Edit commission rate, password, etc.', edit_user_registration_path
