!!! html
%html
  %head
    %title Tips and Commissions Tracker
    = stylesheet_link_tag "mobile", :media => "all"
    = javascript_include_tag "application"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags

  %body
    %header
      = render partial: 'layouts/header'
    .wrapper
      - flash.each do |name, msg|
        = content_tag :p, msg, class: name
      = yield

